.profile-container{
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex: 3;
}
.profile{
    height: 93%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: section-animation 0.5s ease 1s 1 normal forwards;
}
.section-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    transition: .5 ease;

}

.project-title{
    display: flex;
    justify-content: start;
    text-align: left;
    width: 85%;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.508); ;
    text-transform: uppercase;
        color: rgb(203, 203, 203);
        font-size: 20px;
        margin-bottom: 10px;
        padding: 10px 15px;
        border-right: 2px solid #4E9F3D;
        border-bottom: 2px solid #4E9F3D;
}
.info-project-title{
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
}

.info-project-item{
    margin-bottom: 10px;
    color: white;
    font-size: clamp(15px, 40%, 20px);
    display: flex;
    justify-content: flex-end;
    width: 85%;
    font-weight: 400;
}
.project-desc{
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    font-size: clamp(16px, 40%, 18px);
    font-weight: 300;
    flex-wrap: wrap;
    width: 80%;
}
.info-project-git-title{
    margin-left: 10px;
    color: white;
    font-size: clamp(15px, 40%, 20px);
    width: fit-content;
    font-weight: 400;
    text-transform: uppercase;
}
.repo-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    align-items: end;
}


.stack-wrapper{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
    width: 90%;
    margin-bottom: 10px;
}
.stack-img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    object-fit: cover;  
}