.projects-container{
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex: 3;
}
.projects{
    height: calc(100vh - 10vh - 49px);
    min-height: 500px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: section-animation 0.5s ease 0s 1 normal forwards;
}

.info-project-git-title{
    margin-left: 10px;
    color: white;
    font-size: clamp(10px, 1.5vh, 20px);
    width: fit-content;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0;
    animation:  info-projects-anime 0.5s ease .2s 1 normal forwards;
}
.repo-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 15px;
    margin-top: 5px;
    margin-right: 15px;
    align-items: end;
}
.repo-rows{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
}
.animation-off{
    opacity: 1;
    animation:  info-projects-anime-off .0s ease 0s 1 normal forwards;
}

.animation-on{
    opacity: 0;
    animation:  info-projects-anime-on 0.4s ease .4s 1 forwards ;
}


.stack-wrapper{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 5px;
    width: 90%;
    height: 100px;
    position: relative;
}
.stack-img{
    width: clamp(20px, 4vh, 45px);
    height: clamp(20px, 4vh, 45px);
    margin-left: 10px;
    margin-right: 5px;
    z-index: 998;
    object-fit: cover;  
    transition: .2s ease;
    cursor: pointer;
}
.stack-items{
    display: flex;
    flex-direction: column;
    width: clamp(20px, 3.5vh, 45px);
    height: clamp(20px, 3.5vh, 45px);
    margin-left: 10px;
    position: relative;
    transition: .5s ease;
    margin-right: 5px;
}
.item-name{
    transition: .3s ease;
    color: white;
    font-size: 11px;
    font-weight: 300;
    
}
.stack-img:hover + .text-field-name{
    display: block;
}
.stack-items:hover{
    margin-bottom: 25px;
    margin-right: 20px;
}
.stack-img:hover {
padding: 5px;
border-radius: 5px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
background-color: #191919;
box-shadow: inset 2px 2px 0px 0px #4E9F3D;

}
.text-field-name{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 25px;
    bottom: -25px;
    left: 10px;
    background-color: #191919;
    border-radius: 5px;
    box-shadow: inset 2px -2px 0px 0px #4E9F3D;
    border-top-left-radius: 0px;
    position: absolute;
    display: none;
    width: max-content;
    transition: .2s ease;
    z-index: 995;
}


.show-container{
    width: 100%;
    height: calc(100vh - 10vh - 49px);
    display: none;
    overflow-x: hidden;
    align-items: center;

}

.video-player{
    display: flex;
    position: relative;
    width: 605px;
    height: 343px;
    background-color: black;
    border: 2px solid #4E9F3D;
    border-radius: 5px;
    margin-left: 50px;
    
}
.carousel-container{
    margin-left: auto;
    margin-right: 25%;
}
.video-fade{
    opacity: 0;
    animation: video-anime 0.2s ease 1.5s 1 normal forwards;
}

.animation-video-on{
    opacity: 0;
    animation: video-anime-on 1.5s ease 0.2s 1 normal forwards;
}
.animation-video-off{
    opacity: 1;
    animation: fff 0.2s ease 0.2s 1 normal forwards;
}


@media (min-width: 1650px){
      .video-player{
        display: flex;
        position: relative;
        width: 730px;
        height: 410px;
        background-color: black;
        border: 2px solid #4E9F3D;
        border-radius: 5px;
        margin-left: 100px;
        
    }
}


@keyframes video-anime{
	0% {
		opacity: 0;
        transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes video-anime-on{
	0% {
		opacity: 0;
        scale: .96;
	}

	100% {
		opacity: 1;
		scale: 1;
    }

}
@keyframes fff{
	0% {
		
        opacity: 1;
		scale: 1;
	}

	100% {
        opacity: 0;
        	
    }

}

@keyframes video-anime-off {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(20px);
	}
}
@media (max-width: 1150px){
    .projects-container{
        background: rgba(128, 128, 128, 0.182);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        flex: 3;
    }
    .projects{
        height: calc(100vh - 10vh - 49px);
        min-height: 500px;
        display: flex;
        flex-direction: row;
        opacity: 0;
        animation: section-animation 0.5s ease 0s 1 normal forwards;
    }
    .show-container{
        width: 100%;
        height: calc(100vh - 10vh - 49px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .unmountedProject{
        display: none;
        opacity: 0;
        animation: mobile-section-off .2s ease 0s 1 normal forwards;
    }
    .mountedProject{
        opacity: 1;
        animation: mobile-section-on 1s ease 0s 1 normal forwards;
    }
    .video-player{
        position: relative;
        width: 255px;
        height: 150px;
        background-color: black;
        border: 2px solid #4E9F3D;
        border-radius: 5px;
        margin-left: 0px;
        margin-top: 100px;

    }
    .carousel-container{
        margin-left: auto;
        margin-right: 0;
    }
}