.projects-container{
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex: 3;
}
.projects{
    height: calc(100vh - 10vh - 49px);
    min-height: 500px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: section-animation 0.5s ease 0s 1 normal forwards;
}
.section-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    transition: .5 ease;
}

.project-title{
    display: flex;
    justify-content: start;
    text-align: left;
    width: 85%;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.508); ;
    text-transform: uppercase;
        color: rgb(203, 203, 203);
        font-size: 20px;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-right: 2px solid #4E9F3D;
        border-bottom: 2px solid #4E9F3D;

}
.info-project-title{
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
    opacity: 0;
    animation:  info-projects-anime 0.5s ease .5s 1 normal forwards;
}

.info-project-item{
    margin-bottom: 10px;
    color: white;
    font-size: clamp(15px, 40%, 20px);
    display: flex;
    justify-content: flex-end;
    width: 85%;
    font-weight: 400;
    opacity: 0;
    animation:  info-projects-anime 0.5s ease 1s 1 normal forwards;
}
.project-desc{
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    font-size: clamp(16px, 40%, 18px);
    font-weight: 300;
    flex-wrap: wrap;
    width: 80%;
    opacity: 0;
    animation:  info-projects-anime 0.5s ease 1s 1 normal forwards;
}
.info-project-git-title{
    margin-left: 10px;
    color: white;
    font-size: clamp(15px, 40%, 20px);
    width: fit-content;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0;
    animation:  info-projects-anime 0.5s ease .5s 1 normal forwards;
}
.repo-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    align-items: end;
    opacity: 0;
    animation:  info-projects-anime 0.5s ease 1s 1 normal forwards;
}


.stack-wrapper{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
    width: 90%;
    margin-bottom: 10px;
    animation:  info-projects-anime 0.5s ease 1s 1 normal forwards;
    opacity: 0;
}
.stack-img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    object-fit: cover;  
}

.show-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: section-animation 0.5s ease 1.5s 1 normal forwards;
}

.video-player{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.arrow-next{
    position: absolute;
    align-self: center;
    right: 20px;
    rotate: 180deg;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: .5s ease;
    opacity: 0;
    animation:  arrow-projects-anime 2s ease 2.2s 1 normal forwards;
}

.arrow-prev{
    position: absolute;
    align-self: center;
    left: 20px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    margin-bottom: 5px;
    opacity: 0;
    animation:  arrow-projects-anime 2s ease 2.2s 1 normal forwards;
}

.switch-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    opacity: 0;
}

.switch-btn p{
    border-radius: 5px;
    border: 2px solid #4E9F3D;
    padding: 1px 3px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.switch-btn:hover p{
    opacity: 1;
    transform: translateX(4px);
}


@keyframes info-projects-anime {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes arrow-projects-anime {
	0% {
		opacity: 0;
		transform: translateY(-45px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}