.profile{
    height: calc(100vh - 10vh - 48.5px);
    min-height: 500px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: section-animation 0.5s ease .3s 1 normal forwards;
}
.profile-container{
    height: calc(100vh - 10vh - 48.5px);
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex: 3;
  
}

.profile-img{
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 10px;
    width: 115px;
    height: 115px;
    object-fit: cover;
    border: 3px solid #4E9F3D ;
    animation: info-items-animation 0.5s ease .5s 1 normal forwards;
    opacity: 0;
}
.profile-info{
margin-top: 20px;
}

.profile-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
}
.description-section{
    flex: 4;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4E9F3D;
    color: rgb(51, 51, 51);
    border-radius: 5px;
    border: 1px solid rgba(28, 28, 28, 0.626) ;
    margin-left: 7px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;
    border: 0;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: .2s ease;
    width: 280px;
    align-self: center;
    opacity: 0;
    animation: info-items-animation 0.5s ease 1s 1 normal forwards;
}

.download-btn:hover{
    background-color: rgba(28, 28, 28, 0.626) ;
    border: 1px solid #4E9F3D;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;

}
.info-icon{
    color: #58f6a4;
    margin-left: 10px;
}

a{
    text-decoration: none;
}
@keyframes moreInfo-animation {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

    

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes btn-anime {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes section-animation {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}
@keyframes info-items-animation {
	0% {
		opacity: 0;
		transform: translateY(-10px);

	}

	100% {
		opacity: 1;
		transform: translateY(0);

	}
}

@media (max-width: 1150px){
    .profile{
        height: calc(100vh - 10vh);
        flex-direction: row;
        position: relative;
        display: flex;
    }
    .profile-container{
        background: rgba(128, 128, 128, 0.182);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .profile-img{
        border-radius: 10px;
        margin-top: 80px;
        align-self: center;
        margin-left: 0px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: 3px solid #4E9F3D ;
        opacity: 0;
        animation: info-items-animation 0.5s ease .5s 1 normal forwards;
    }
    .profile-social{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: auto;
    }
    .profile-info{
        margin-top: 80px;
        }
    
    .download-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #4E9F3D;
        color: rgb(51, 51, 51);
        border-radius: 5px;
        border: 1px solid rgba(28, 28, 28, 0.626) ;
        align-self: center;
        margin-bottom: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 5px;
        border: 0;
        font-size: 15px;
        font-weight: 400;
        cursor: pointer;
        transition: .2s ease;
        width: 280px;
        align-self: center;
        opacity: 0;
        animation: info-items-animation 0.5s ease 1s 1 normal forwards;
    }
    .description-section{
        flex: 1;
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    @keyframes mobile-section-on {
        0% {
            opacity: 0; 
            transform: translateX(-20px);     
        }
       
    
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes mobile-section-off {
        0% {
            opacity: 1;
        }
    
        90% {
            opacity: 0;
            
        }
        100%{
            display: none;
        }
    }
    .unmountedProfile{
        display: none;
        opacity: 0;
        animation: mobile-section-off .2s ease 0s 1 normal forwards;
    }
    .mountedProfile{
        opacity: 1;
        animation: mobile-section-on 1s ease 0s 1 normal forwards;
    }

}
