.carousel{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: clamp(0px, 5vw, 120px);
}
.arrow-next{
    position: absolute;
    align-self: center;
    left: 60px;
    bottom: -220px;
    rotate: 270deg;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: .5s ease;
    opacity: 0;
    animation:  arrow-projects-anime 2s ease .5s 1 normal forwards;
}

.arrow-prev{
    position: absolute;
    align-self: center;
    rotate: 90deg;
    left: 60px;
    top: -200px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    margin-bottom: 5px;
    opacity: 0;
    animation:  arrow-projects-anime 2s ease .5s 1 normal forwards;
}
.arrow-prev p{
    rotate: 270deg;
}
.arrow-next p{
   rotate: 90deg
}

.switch-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-evenly;
    opacity: 0;
}

.switch-btn p{
    border-radius: 5px;
    border: 2px solid #4E9F3D;
    padding: 1px 3px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.switch-btn:hover p{
    opacity: 1;
    transform: translateY(-5px);
}
.thumbnail{
    width: 214px;
    height: 121px;
    object-fit: cover;
    z-index: 999;
    position: absolute;
    top: -60px;
    left: -25px;
    border-radius: 5px;
    border: 3px solid #34e3a0;
}
.thumbnail-notShown-bottom{
    width: 170px;
    height: 80px;
    object-fit: cover;
    opacity: 70%;
    z-index: 998;
    position: absolute;
    border-radius: 5px;
    border: 3px solid #2e946d;
    top: 50px;
    left: 0;
    cursor: pointer;
    transition: .3s ease;
}
.thumbnail-notShown-top{
    width: 170px;
    height: 80px;
    object-fit: cover;
    opacity: 30%;
    z-index: 998;
    transition: 0.2s ease;
    border-radius: 5px;
    border: 3px solid #2e946d;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: -120px;
}
.thumbnail-notShown-bottom:hover{
    padding-bottom: 30px;
    background-color: #2e946d;
    
}
.thumbnail-notShown-bottom:hover + .thumbnail-bottom-text{
    display: block;
}
.thumbnail-notShown-top:hover{
    padding-top: 30px;
    background-color: #2e946d;
    
}
.thumbnail-notShown-top:hover + .thumbnail-top-text{
    display: block;
}


.thumbnail-top-text{
    transition: .5s ease;
    position: absolute;
    left: 10px;
    top: -135px;
    display: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(18, 18, 18, 0.765);
    z-index: 999;
    width: max-content;
}
.thumbnail-bottom-text{
    transition: .5s ease;
    position: absolute;
    left: 20px;
    bottom: -155px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(18, 18, 18, 0.765);
    display: none;
    z-index: 999;
    width: max-content;
}
.thumb-anim-top{
    opacity: 0;
    animation: thumbnail .3s ease 0s 1 normal forwards;
    
}
.thumb-anim-showned{
    opacity: 0;
    animation: thumbnail .3s ease .1s 1 normal forwards;
    
}
.thumb-anim-bottom{
    opacity: 0;
    animation: thumbnail .3s ease 0.2s 1 normal forwards;
    
}
.thumb-anim-top-off{
    opacity: 1;
    animation: thumbnail-off .3s ease 0s 1 normal forwards;
    
}
.thumb-anim-showned-off{
    opacity: 1;
    animation: thumbnail-off .3s ease 0.1s 1 normal forwards;
    
}
.thumb-anim-bottom-off{
    opacity: 1;
    animation: thumbnail-off .3s ease 0.2s 1 normal forwards;
    
}
.images{
    position: relative;
    opacity: 0;
    animation: thumbnail 1s ease .5s 1 normal forwards;
}

@media (min-width: 645px){
    .thumbnail{
        width: 260px;
        height: 134px;
        object-fit: cover;
        z-index: 999;
        position: absolute;
        top: -60px;
        left: -25px;
        border-radius: 5px;
        border: 3px solid #34e3a0;
    }
    .thumbnail-notShown-bottom{
        width: 210px;
        height: 110px;
        object-fit: cover;
        opacity: 70%;
        z-index: 998;
        position: absolute;
        top: 50px;
        left: 0;
        border-radius: 5px;
        border: 3px solid #2e946d;
    }
    .thumbnail-notShown-top{
        width: 210px;
        height: 110px;
        object-fit: cover;
        opacity: 30%;
        z-index: 998;
        transition: 0.2s ease;
        border-radius: 5px;
        border: 3px solid #2e946d;
        left: 0;
        position: absolute;
        top: -140px;
    }
    .arrow-next{
        position: absolute;
        align-self: center;
        left: 80px;
        bottom: -240px;
        rotate: 270deg;
        width: 55px;
        height: 55px;
        cursor: pointer;
        transition: .5s ease;
        opacity: 0;
        animation:  arrow-projects-anime 2s ease .5s 1 normal forwards;
    } 
    .arrow-prev{
        position: absolute;
        align-self: center;
        rotate: 90deg;
        left: 80px;
        top: -220px;
        width: 55px;
        height: 55px;
        cursor: pointer;
        margin-bottom: 5px;
        opacity: 0;
        animation:  arrow-projects-anime 2s ease .7s 1 normal forwards;
    }
}

@keyframes thumbnail {
    0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes thumbnail-off {
    0% {
		opacity: 1;
		transform: translateX(0px);
	}

	100% {
		opacity: 0;
		transform: translateX(20px);
	}
}

@keyframes arrow-projects-anime {
	0% {
		opacity: 0;
		transform: translateY(-45px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@media (max-width: 1150px){
    .carousel{
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
    .thumbnail{
        width: 214px;
        height: 121px;
        object-fit: cover;
        z-index: 999;
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-radius: 5px;
        border: 3px solid #34e3a0;
    }
    .thumbnail-notShown-bottom{
        width: 170px;
        height: 80px;
        object-fit: cover;
        opacity: 70%;
        z-index: 998;
        position: absolute;
        border-radius: 5px;
        border: 3px solid #2e946d;
        top: 50px;
        left: 0;
        cursor: pointer;
        transition: .3s ease;
    }
    .thumbnail-notShown-top{
        width: 170px;
        height: 80px;
        object-fit: cover;
        opacity: 30%;
        z-index: 998;
        transition: 0.2s ease;
        border-radius: 5px;
        border: 3px solid #2e946d;
        cursor: pointer;
        left: 0;
        position: absolute;
        top: -120px;
    }
    .images{
        position: relative;
        opacity: 0;
        display: flex;
        animation: thumbnail 1s ease .5s 1 normal forwards;
    }
    .arrow-next{
        position: absolute;
        align-self: center;
        left: 190px;
        bottom: -30px;
        rotate: 180deg;
        width: 55px;
        height: 55px;
        cursor: pointer;
        transition: .5s ease;
        opacity: 0;
        animation:  arrow-projects-anime 2s ease .5s 1 normal forwards;
    }
    
    .arrow-prev{
        position: absolute;
        align-self: center;
        rotate: 0deg;
        left: -80px;
        top: -26px;
        width: 55px;
        height: 55px;
        cursor: pointer;
        margin-bottom: 5px;
        opacity: 0;
        animation:  arrow-projects-anime 2s ease .5s 1 normal forwards;
    }
    .arrow-prev p{
        display: none;
    }
    .arrow-next p{
        display: none;
    }
}