.top-bar{
    width: 100%;
    height: 7%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    background: rgba(128, 128, 128, 0.182);
    border-radius: 3px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.113);
    border: 1px solid rgba(29, 28, 28, 0.564);
    animation: top-bar-anim 0.5s ease-out 0s 1 normal forwards;
}
.top-bar-icons
 div:nth-child(1){
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgb(216, 19, 19);
    left: 30px;
    top: 15px;
    opacity: 0;
    animation: top-bar-dummy-btn 0.5s ease 0s 1 normal forwards;
}
.top-bar-icons
 div:nth-child(2){
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgb(217, 240, 15);
    left: 50px;
    top: 15px;
    opacity: 0;
    animation: top-bar-dummy-btn 0.5s ease 0.3s 1 normal forwards;
  
}
.top-bar-icons
 div:nth-child(3){
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgb(37 211 102);
    left: 70px;
    top: 15px;
    opacity: 0;
    animation: top-bar-dummy-btn 0.5s ease 0.6s 1 normal forwards;
}
.top-bar-links{
   display: flex;
   margin-left: auto;
   color: white;
   margin-right: 30px;
   justify-content: space-between;
   align-items: center;
}

.p-tag{
    margin-right: 25px;
    cursor: pointer;
}
.select-flag{
   position: relative;
   margin-right: 100px;
   margin-top: 5px;
  
}
.flag{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    z-index: 999;
    cursor: pointer;
    
}
.select-window-eng{
    position: absolute;
    top: -6px;
    right: -6px; 
    width: 32px;
    height: 32px;
    background-color: #1919192e;
    border-radius: 5px;
    border: 1px solid #4E9F3D;
    z-index: 998;
    transition: .3s ease;
}
.select-window-esp{
    position: absolute;
    top: -6px;
    right: 34px; 
    width: 32px;
    height: 32px;
    background-color: #1919192e;
    border-radius: 5px;
    border: 1px solid #4E9F3D;
    z-index: 998;
    transition: .3s ease;
}
@keyframes top-bar-anim {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}

@keyframes top-bar-dummy-btn {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}