.top-bar{
    width: 100%;
    height: 44px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    background: rgba(128, 128, 128, 0.182);
    border-radius: 3px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.113);
    border: 1px solid rgba(29, 28, 28, 0.564);
    animation: top-bar-anim 0.5s ease-out 0s 1 normal forwards;
}
.top-bar-icons
 div:nth-child(1){
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgb(216, 19, 19);
    left: 30px;
    top: 15px;
    opacity: 0;
    animation: top-bar-dummy-btn 0.5s ease 0s 1 normal forwards;
}
.top-bar-icons
 div:nth-child(2){
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgb(217, 240, 15);
    left: 50px;
    top: 15px;
    opacity: 0;
    animation: top-bar-dummy-btn 0.5s ease 0.3s 1 normal forwards;
  
}
.top-bar-icons
 div:nth-child(3){
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgb(37 211 102);
    left: 70px;
    top: 15px;
    opacity: 0;
    animation: top-bar-dummy-btn 0.5s ease 0.6s 1 normal forwards;
   
}

.p-tag{
    margin-right: 25px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    cursor: pointer;
    transition: 0.5s ease;
    border-bottom: 2px solid rgba(187, 187, 187, 0.182);
    border-right: 2px solid rgba(187, 187, 187, 0);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 3px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .3s ease;
    color: rgba(218, 214, 214, 0.581);;
}
.p-tag-mounted{
    margin-right: 25px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    cursor: pointer;
    border-bottom: 2px solid #4E9F3D;
    border-right: 2px solid #4E9F3D;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
    transition: 1s ease;
    font-weight: 400;
    letter-spacing: 1px;
    color: #4E9F3D;
}
.top-bar-languague{
   display: flex;
   margin-left: auto;
   width: max-content;
   color: white;
   margin-right: 30px;
   justify-content: space-between;
   align-items: center;
}
.select-flag{
   position: relative;
   margin-right: 100px;
   margin-top: 5px;
  
}
.flag{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    z-index: 999;
    cursor: pointer;
    
}
.select-window-eng{
    position: absolute;
    top: -5px;
    right: -5px; 
    width: 30px;
    height: 30px;
    background-color: #1919192e;
    border-radius: 5px;
    border: 1px solid #4E9F3D;
    z-index: 998;
    transition: .3s ease;
    box-shadow: inset 0 0 6px .5px #4E9F3D;
}
.select-window-esp{
    position: absolute;
    top: -4px;
    right: 35px; 
    width: 30px;
    height: 30px;
    background-color: #1919192e;
    border-radius: 5px;
    border: 1px solid #4E9F3D;
    z-index: 998;
    transition: .3s ease;
    box-shadow: inset 0 0 6px .5px #4E9F3D;
}
.nav-links-container{
    position: relative;
    width: 470px;
}
.bar{
position: absolute;
top: 25px;
left: 0;
width: 40px;
border-bottom: 2px solid #4E9F3D;
}
.p-tag:hover{
    border-bottom: 2px solid #4E9F3D;
    color: #4E9F3D;
    
}
@keyframes top-bar-anim {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}

@keyframes top-bar-dummy-btn {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (max-width: 1150px){

    .top-bar{
        display: none;
    }
}
