.profile-container{
    flex: 3;
    max-width: 300px;
    background: rgba(128, 128, 128, 0.182);
    height: 93%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.title{
    color: white;
    display: flex;
    justify-content: end;
    border-bottom: 2px solid #4E9F3D;
    margin-right: 125px;
    margin-top: 10px;
    width: 250px;

}

.profile-img{
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #4E9F3D ;
}
.profile-info{
margin-top: 20px;
}
.info-item{
    margin-bottom: 10px;
    color: white;
    font-size: clamp(17px, 40%, 20px);
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

.info-title{
    color: rgb(203, 203, 203);
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
}

.profile-social{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin-top: auto;
}

.social-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.social-img:hover{
    border: 2px solid #75d262;
}