.profile-container{
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex: 3;
}
.profile{
    height: 93%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: section-animation 0.5s ease 1s 1 normal forwards;
}

.title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    width: 100%;
    font-weight: 300;
    font-size: 32px;

}

.profile-img{
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 20px;
    width: 115px;
    height: 115px;
    object-fit: cover;
    border: 3px solid #4E9F3D ;
}
.profile-info{
margin-top: 20px;
}
.info-item{
    margin-bottom: 10px;
    color: white;
    font-size: clamp(17px, 40%, 20px);
    display: flex;
    justify-content: flex-end;
    width: 85%;
    font-weight: 300;
}

.info-title{
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 10px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
}

.profile-social{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    margin-top: auto;
}

.social-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    
}

.social-img:hover{
    padding: 3px 3px;
    border: 1px solid #4E9F3D;
    rotate: 5deg;
    background-color: rgba(28, 28, 28, 0.626) ;
}

.description-section{
    flex: 4;
    width: max-content;
    display: flex;
    flex-direction: column;
}
.head-title{
    color: white;
    display: flex;
    justify-content: end;
    border-left: 2px solid #4E9F3D;
    border-bottom: 2px solid #4E9F3D;
    margin-top: 58px;
    font-size: 35px;
    padding-left: 0;
    max-width: 45%;
    opacity: 0;
    animation: section-animation 1s ease 1.1s 1 normal forwards;
}

.description{
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.113);
    border: 1px solid rgba(29, 28, 28, 0.564);
    padding: 10px 10px;
    color: white;
    width: max-content;
    text-align: left;
    margin-left: 35px;
    margin-top: 35px;
    font-size: clamp(18px, 50%, 20px)  ;
    opacity: 0;
    z-index: 996;
    position: relative;
    animation: moreInfo-animation 1s ease 1.3s 1 normal forwards; 
    
}
.show-more-btn{
    position: absolute;
    opacity: 0;
    width: 10%;
    border-radius: 2px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    background: rgba(128, 128, 128, 0.092);
    color: white;
    border: 2px solid #4E9F3D;
    border: 2px solid #4E9F3D;
    padding:10px 2px;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    animation: moreInfo-animation 1s ease 1.3s 1 normal forwards; 
    z-index: 995;
}
.description-more{
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.113);
    border: 1px solid rgba(29, 28, 28, 0.564);
    padding: 5px 10px;
    color: white;
    width: fit-content;
    text-align: left;
    margin-left: 35px;
    margin-top: 20px;
    font-size: clamp(15px, 50%, 20px)  ;
    transition: 0.5s ease;
    animation: moreInfo-animation 1s ease 0s 1 normal forwards; 
    
}
.description-more-2{
    opacity: 0;
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.113);
    border: 1px solid rgba(29, 28, 28, 0.564);
    padding: 5px 10px;
    color: white;
    width: fit-content;
    text-align: left;
    margin-left: 35px;
    margin-top: 20px;
    font-size: clamp(15px, 50%, 20px)  ;
    transition: 0.5s ease;
    animation: moreInfo-animation 1s ease 0.4s 1 normal forwards; 
    
}
.ed-title{
    font-size: 20px;
    margin-right: 5px;
    font-weight: 600;
    margin-bottom: 0px;
}

.date-title{
    font-size: 13px;
    color: #4E9F3D;
    font-weight: 500;
    
}

.show-more-btn:focus{
    text-decoration: none;
    
}
@keyframes moreInfo-animation {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

    

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes btn-anime {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes section-animation {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

@media (min-width: 1500px){
    .show-more-btn{
        position: absolute;
        bottom: -0px;
        right: -95px;
        border-bottom-right-radius: 15px;
    } 
}