/* Profile Styles */
.title-profile{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    transition: .5 ease;
    opacity: 0;
    animation: title-animation 0.5s ease 0s 1 normal forwards;
    
}
.info-title-profile{
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 5px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
    opacity: 0;
    animation: info-title-animation 0.5s ease .5s 1 normal forwards;
}


.head-profile-title{
    color: white;
    display: flex;
    justify-content: end;
    border-left: 2px solid #4E9F3D;
    border-bottom: 2px solid #4E9F3D;
    margin-top: 48px;
    font-size: 35px;
    padding-left: 0;
    max-width: 45%;
    opacity: 0;
    animation: section-animation 1s ease 1s 1 normal forwards;
}

@keyframes info-title-animation {
	0% {
		opacity: 0;
		transform: translateY(-10px);

	}

	100% {
		opacity: 1;
		transform: translateY(0);

	}
}
@keyframes title-animation {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (min-width: 1500px){
    .info-title-profile{
        color: rgb(203, 203, 203);
        font-size: 17px;
        margin-bottom: 10px;
        margin-right: 240px;
        padding-left: 10px;
        display: flex;
        justify-content: start;
        border-bottom: 2px solid #4E9F3D;
        text-align: left;
        width: 85%;
        font-weight: 600;
        opacity: 0;
        animation: info-items-animation 0.5s ease .5s 1 normal forwards;
    }
 }

 /* Project Styles */
 .section-project-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    transition: .5 ease;
    animation: title-animation 0.5s ease 0s 1 normal forwards;
}
 .project-title{
    display: flex;
    justify-content: start;
    text-align: left;
    width: 85%;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.508); ;
    text-transform: uppercase;
        color: rgb(203, 203, 203);
        font-size: 20px;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-right: 2px solid #4E9F3D;
        border-bottom: 2px solid #4E9F3D;

}
.info-project-title{
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
    opacity: 0;
    animation:  info-projects-anime 0.5s ease .5s 1 normal forwards;
}

.info-project-item{
    margin-bottom: 10px;
    color: white;
    font-size: clamp(15px, 40%, 20px);
    display: flex;
    justify-content: flex-end;
    width: 85%;
    font-weight: 400;
    opacity: 0;
    animation:  info-projects-anime 0.5s ease 1s 1 normal forwards;
}



/* Contact Styles */

.section-contact-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    transition: .5 ease;
    animation: title-animation 0.5s ease 0s 1 normal forwards;

}
.info-contact-title{
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 25px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
    animation:  info-contact-anime 0.5s ease 0.5s 1 normal forwards;
    opacity: 0;
}


/* Stack Styles */


.section-stack-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    transition: .5 ease;
    opacity: 0;
    animation: title-animation 0.5s ease 0s 1 normal forwards;
}

.stack-mainTitle{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 35px;
    border-bottom: 2px solid #4E9F3D;
    border-left: 2px solid #4E9F3D;
    padding-left: 40px;
    padding-right: 30px;
    height: fit-content;
    width: 45%;
    position: absolute;
    top: 58px;
    left: 0;
    opacity: 0;
    transition: .5 ease;
    animation: section-animation 1s ease .8s 1 normal forwards;
}
.info-stack-title{
    display: flex;
    justify-content: start;
    color: rgb(203, 203, 203);
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-left: 10px;
    border-bottom: 2px solid #4E9F3D;
    width: 85%;
    font-weight: 400;
    opacity: 0;
    text-transform: uppercase;
    animation:  info-projects-anime 0.5s ease .5s 1 normal forwards;
}