/* Profile Styles */
.title-profile{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    width: 100%;
    font-weight: 300;
    font-size: clamp(25px, 3vh, 32px);
    transition: .5 ease;
}
.info-title-profile{
    color: rgb(203, 203, 203);
    font-size: clamp(15px, 2vh, 17px);
    margin-bottom: 5px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
    opacity: 0;
    animation: info-title-animation 0.5s ease .5s 1 normal forwards;
}


.head-profile-title{
    color: white;
    display: flex;
    justify-content: end;
    border-left: 2px solid #4E9F3D;
    border-bottom: 2px solid #4E9F3D;
    font-size:  clamp(30px, 4.5vh, 35px);
    padding-left: 0;
    margin-top: clamp(37px, 4.5vh, 48px);
    width: clamp(55%, 2vh, 60%);
    opacity: 0;
    animation: section-animation 1s ease 1s 1 normal forwards;
}
@media (max-width: 1150px){

    .head-profile-title{
        color: white;
        display: flex;
        justify-content: center;
        border-left: 0px solid #4E9F3D;
        border-bottom: 2px solid #4E9F3D;
        font-size:  clamp(15px, 4.5vw, 25px);
        padding-left: 0;
        width: 90vw;
        opacity: 0;
        animation: section-animation 1s ease 0s 1 normal forwards;
    }
}

@keyframes info-title-animation {
	0% {
		opacity: 0;
		transform: translateY(-10px);

	}

	100% {
		opacity: 1;
		transform: translateY(0);

	}
}



 /* Project Styles */
 .section-project-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: clamp(5px, 1vh, 10px);
    width: 100%;
    font-weight: 300;
    font-size: clamp(25px, 3vh, 32px);
    transition: .5 ease;
    animation: title-animation 0.5s ease 0s 1 normal forwards;
}
 .project-title{
    display: flex;
    justify-content: start;
    text-align: left;
    width: 100%;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.508); ;
    text-transform: uppercase;
        color: rgb(203, 203, 203);
        font-size: clamp(15px, 2vh, 20px);
        margin-bottom: 10px;
        padding: 5px 10px;
        border-right: 2px solid #4E9F3D;
        border-bottom: 2px solid #4E9F3D;
        
}
.info-project-title{
    color: rgb(203, 203, 203);
    font-size: clamp(13px, 2vh, 17px);
    margin-bottom: clamp(5px, 2vh, 10px);
    margin-top: clamp(10px, 2vh, 20px);
    margin-right: 240px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
    opacity: 0;
    padding-left: 10px;
    animation:  info-projects-anime 0.5s ease .2s 1 normal forwards;
}
.project-title-animation-on{
    opacity: 0;
    animation: title-animation-on .2s ease .5s 1 normal forwards;
}
.project-title-animation-off{
    animation: title-animation-off .5s ease 0s 1 normal forwards;
}
@keyframes title-animation-on {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes title-animation-off {
    0% {
		opacity: 1;
		transform: translateX(0px);
	}

	100% {
		opacity: 0;
		transform: translateX(20px);
	}
}


@keyframes info-projects-anime {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


/* Contact Styles */

.section-contact-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom:clamp(25px, 4vh, 50px);
    width: 100%;
    font-weight: 300;
    font-size: clamp(25px, 3vh, 32px);
    transition: .5 ease;
    animation: title-animation 0.5s ease 0s 1 normal forwards;

}
.info-contact-title{
    color: rgb(203, 203, 203);
    font-size: clamp(10px, 3vh, 17px);
    margin-bottom: 25px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
    animation:  info-contact-anime 0.5s ease 0.5s 1 normal forwards;
    opacity: 0;
}


/* Stack Styles */


.section-stack-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    width: 100%;
    font-weight: 300;
    font-size: clamp(25px, 3vh, 32px);
    transition: .5 ease;
  
    animation: title-animation 0.5s ease 0s 1 normal forwards;
}

.stack-mainTitle{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-bottom: 2px solid #4E9F3D;
    border-left: 2px solid #4E9F3D;
    padding-left: 40px;
    padding-right: 30px;
    height: fit-content;
    width: 45%;
    font-size: clamp(30px, 4.5vh, 35px);
    position: absolute;
    top: clamp(48px, 5.5vh, 58px);
    left: 0;
    opacity: 0;
    transition: .5 ease;
    animation: section-animation 1s ease .8s 1 normal forwards;
}
.info-stack-title{
    display: flex;
    justify-content: start;
    color: rgb(203, 203, 203);
    font-size: clamp(15px, 2vh, 19px);
    margin-bottom: clamp(5px, 1vh, 10px);
    margin-top: clamp(20px, 5vh, 50px);
    padding-left: 10px;
    border-bottom: 2px solid #4E9F3D;
    width: 85%;
    font-weight: 400;
    opacity: 0;
    text-transform: uppercase;
    animation:  info-projects-anime 0.5s ease .5s 1 normal forwards;
}