/* Profile Styles */
.description{
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.113);
    border: 1px solid rgba(29, 28, 28, 0.564);
    padding: 10px 10px;
    color: white;
    width: clamp(450px, 60vw, 1050px);
    height: fit-content;
    text-align: left;
    margin-left: 35px;
    margin-top: clamp(20px, 2vh, 35px);
    font-size: clamp(12px, 2vh, 20px);
    opacity: 0;
    z-index: 996;
    position: relative;
    animation: moreInfo-animation 1s ease .5s 1 normal forwards; 
    
}
.degree span:nth-child(1){
color: #cbeb59;  
font-size: clamp(10px, 2vh, 18px);
font-weight: 300; 

}

.show-more-btn{
    font-size: clamp(5px, 1.2vw, 17px);;
    position: absolute;
    opacity: 0;
    width: 15%;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.092);
    color: white;
    border: 2px solid #4E9F3D;
    padding: 5px;
    bottom: -60px;
    right: 0;
    animation: moreInfo-animation 1s ease 1.5s 1 normal forwards; 
    cursor: pointer;
    z-index: 995;
    transition: .3s ease;
}
.show-more-btn:focus{
    text-decoration: none;
    
}
.show-more-btn:hover{
    background-color: #4E9F3D;
    border: 2px solid rgb(170, 170, 170);
    color: rgb(9, 9, 9);;

    
}
.studies{
    background: rgba(128, 128, 128, 0.182);
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.113);
    border: 1px solid rgba(29, 28, 28, 0.564);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    width: clamp(525px, 50vw, 850px);
    height: fit-content;
    text-align: left;
    margin-left: 35px;
    margin-top: 20px;
    font-size: clamp(10px, 1.8vh, 17px)  ;
}
.studies-animation-on{
    opacity: 0;
    animation: moreInfo-animation .8s ease .8s 1 normal forwards; 
}
.studies-animation-off{
    opacity: 1;
    animation: moreInfo-animation-off .3s ease 0s 1 normal forwards; 
}
.desc-styles{
    text-align: left;
    word-spacing: 0px;
}

.company-title{
    font-size: clamp(13px, 2.5vh, 22px) ;
    margin-right: 5px;
    font-weight: 600;
    margin-bottom: 0px;
}

.date-title{
    font-size: clamp(10px, 1.5vh, 13px) ;
    color: #4E9F3D;
    font-weight: 500;
    
}

@keyframes moreInfo-animation {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

    

	100% {
		opacity: 1;
		transform: translateY(0);
    }
}
@keyframes moreInfo-animation-off {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

    

	100% {
		opacity: 0;
		transform: translateY(-20px);
    }
}

@media (max-width: 1150px){

    .description{
        background: rgba(128, 128, 128, 0.182);
        border-radius: 5px;
        box-shadow: 0 2px 0px rgba(0, 0, 0, 0.113);
        border: 1px solid rgba(29, 28, 28, 0.564);
        padding: 5px 10px;
        color: white;
        width: clamp(200px, 80vw, 1000px);
        height: max-content;
        text-align: center;
        margin-left: 0px;
        margin-top: 15px;
        font-size: clamp(10px, 2.5vw, 17px);
        opacity: 0;
        z-index: 996;
        position: relative;
        animation: moreInfo-animation 1s ease .5s 1 normal forwards; 
        
    }
    .studies{
        background: rgba(128, 128, 128, 0.182);
        box-shadow: 0 2px 0px rgba(0, 0, 0, 0.113);
        border: 1px solid rgba(29, 28, 28, 0.564);
        border-radius: 5px;
        padding: 5px 10px;
        color: white;
        width: 90%;
        height: fit-content;
        text-align: left;
        margin-left: 0px;
        margin-top: 20px;
        font-size: clamp(10px, 2.5vw, 17px);
        animation: moreInfo-animation 1s ease .8s 1 normal forwards; 
    }
    .company-title{
        font-size: clamp(13px, 2vw, 18px);
        margin-right: 5px;
        font-weight: 600;
        margin-bottom: 0px;
    }
    
    .date-title{
        font-size: clamp(8px, 2vw, 13px);
        color: #4E9F3D;
        font-weight: 500;
        
    }
    .show-more-btn{
      display: none;
    }
    .degree span:nth-child(1){
        color: #cbeb59;  
        font-size: clamp(10px, 2vw, 15px);
        font-weight: 300; 
        border-bottom: .5px solid #d4ff52;
        }
        
}


