/* Profile Styles */
.info-item-profile{
    margin-bottom: clamp(5px, 1.5vh, 25px);
    margin-top: clamp(5px, 1.5vh, 10px);
    color: white;
    font-size: clamp(12px, 2vh, 15px);
    display: flex;
    justify-content: flex-end;
    width: 85%;
    font-weight: 300;
    opacity: 0;
    animation: info-items-animation 0.5s ease 1s 1 normal forwards;
}
@media (max-width: 1150px){
    .info-item-profile{
        padding-right: 30px;
        color: white;
        margin-top: clamp(2px, 1vh, 5px);
        font-size: clamp(12px, 1vh, 22px);
        display: flex;
        justify-content: flex-end;
        width: 100%;
        font-weight: 300;
        opacity: 0;
        animation: info-items-animation 0.5s ease 1s 1 normal forwards;
    } 
}

@keyframes info-items-animation {
	0% {
		opacity: 0;
		transform: translateY(-10px);

	}

	100% {
		opacity: 1;
		transform: translateY(0);

	}
}


/* Project Styles */
.project-description{
    margin-left: 10px;
    color: white;
    font-size: clamp(13px, 3vh, 15px);
    font-weight: 400;
    flex-wrap: wrap;
    width: 90%;
    opacity: 0;
}
.info-project-item{
    color: white;
    font-size: clamp(12px, 2vh, 15px);
    display: flex;
    justify-content: flex-end;
    width: 85%;
    font-weight: 400;
    text-transform: uppercase;
}
.animation-off{
    opacity: 1;
    animation:  info-projects-anime-off .2s ease 0s 1 normal forwards;
}

.animation-on{
    opacity: 0;
    animation:  info-projects-anime-on 0.5s ease 1.2s 1 forwards ;
}

@keyframes info-projects-anime-on {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes info-projects-anime-off {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(10px);
	}
}

/* Stack Styles */
.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    width: max-content;
}

.info-item-stack{
    display: flex;
    color: white;
    font-weight: 400;
    font-size: clamp(12px, 1.5vh, 15px);
    margin-top: clamp(5px, 1vh, 10px);
    position: relative;
    border-bottom: 1px solid #4E9F3D;
    padding-right: 10px;
    opacity: 0;
    animation: stack-item-slide 0.5s ease 1.3s 1 normal forwards;
   
}
.info-item-stack span{
    margin-left: auto;
    opacity: 0;
    animation: stack-item-slide 0.5s ease 1.3s 1 normal forwards;
}




@keyframes stack-item-slide {
	0% {
		opacity: 0;
		transform: translateX(-15px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@media (max-width: 1150px){
    .info-item-stack{
        display: flex;
        color: white;
        font-weight: 400;
        font-size: clamp(12px, 1.5vh, 15px);
        margin-top: clamp(5px, 1vh, 10px);
        position: relative;
        border-bottom: 1px solid #4E9F3D;
        padding-right: 10px;
        opacity: 0;
        animation: stack-item-slide 0.5s ease 1.3s 1 normal forwards;
       
    }
    .skills-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 40px;
        width: max-content;
    }
}