.contact{
    height: calc(100vh - 10vh - 49px);
    min-height: 500px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: section-animation 0.5s ease 0s 1 normal forwards;
}
.contact-container{
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex: 3;
}

.section-contact-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    transition: .5 ease;

}

.info-contact-item{
    font-size: clamp(15px, 40%, 20px);
    margin-left: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 8px 10px;
    width: 85%;
    font-weight: 300;
    margin-bottom: 50px;
    opacity: 0;
    background-color: rgb(30, 30, 30);
    animation: info-contact-anime 0.5s ease 1s 1 normal forwards;
}

.info-contact-title{
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 25px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
    animation:  info-contact-anime 0.5s ease 0.5s 1 normal forwards;
    opacity: 0;
}
.social-img-container-contact{
    margin-right: 55px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    animation:  info-contact-anime 0.5s ease 1.2s 1 normal forwards;
    opacity: 0;
}

.social-img-contact{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-img-contact p{
    font-size: 13px;
    color: white;
    margin-top: 5px;
}

.social-img-contact:hover{
    border-bottom: 2px solid #4E9F3D;
    background-color: rgba(28, 28, 28, 0.626) ;
}
.contact-download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4E9F3D;
    color: rgb(51, 51, 51);
    border-radius: 5px;
    border: 1px solid rgba(28, 28, 28, 0.626) ;
    margin-left: 7px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;
    border: 0;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: .2s ease;
    width: 280px;
    align-self: center;
    opacity: 0;
    animation: info-items-animation 0.5s ease 1s 1 normal forwards;
}
.contact-download-btn:hover{
    background-color: rgba(28, 28, 28, 0.626) ;
    border: 1px solid #4E9F3D;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;

}

.copy-btn{
    background-color: rgb(30, 30, 30);
    border: 0;
    color: white;
    cursor: pointer;
    margin-left: auto;
}
.copied{
    transition: .5s ease;
    opacity: 0;
    animation:  copied-animation 0.5s ease 0s 1 normal forwards;
}

.tick-green{
    color: #58f6a4;
}
.contact-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
}

.form-section{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.contact-mainTitle{
    margin-left: 70px;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 40px;
    opacity: 0;
    animation: mainTitle-animation 0.5s ease 1.5s 1 normal forwards;    
}

.writer{
    color: #4E9F3D;
}
.contact-form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 70px;
    position: relative;
}
.input-form{
    width: 60%;
    padding: 10px 10px;
    margin-bottom: 35px;
    background-color: rgba(128, 128, 128, 0.182);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: 1s ease;
    border-bottom: 3px solid rgba(128, 128, 128, 0.182);
    animation: info-contact-anime 0.5s ease 1.6s 1 normal forwards;
}
textarea{
    width: 70%;
    padding: 10px 10px;
    background-color: rgba(128, 128, 128, 0.182);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    resize: none;
    opacity: 0;
    animation: info-contact-anime 0.5s ease 1.7s 1 normal forwards;
    transition: 1s ease;
    border-bottom: 3px solid rgba(128, 128, 128, 0.182);
}

.submit-btn{
    width: 70%;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.182);
    background-color: #4E9F3D;
    font-size: 17px;
    font-weight: 500;
    color: rgb(77, 76, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s ease;
    opacity: 0;
    animation: info-contact-anime 0.5s ease 1.8s 1 normal forwards;
}
.submit-btn:hover{
    border: 2px solid #4E9F3D;
    background-color: rgba(128, 128, 128, 0.182);
    color: white;
   
}
.input-form:focus, textarea:focus{
   outline: none; 
   border-bottom: 3px solid #4E9F3D;
   
}
.input-form:focus::placeholder, textarea:focus::placeholder{
    color: #4E9F3D;
    transition: .8s ease;
 }
@keyframes info-contact-anime {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes copied-animation {
	0% {
		opacity: 0;
        scale: 0;
		rotate: 50deg;
	}

	100% {
		opacity: 1;  
        scale: 1;
		rotate: 0deg;
	}
}

@keyframes mainTitle-animation {
	0% {
		opacity: 0;
		transform: translateX(-15px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}