.contact-container{
    background: rgba(128, 128, 128, 0.182);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex: 3;
}

.contact{
    height: 93%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: section-animation 0.5s ease 1s 1 normal forwards;
}
.section-contact-title{
    color: white;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    transition: .5 ease;

}

.info-contact-item{
    font-size: clamp(15px, 40%, 20px);
    margin-left: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 8px 10px;
    width: 85%;
    font-weight: 300;
    margin-bottom: 50px;
    opacity: 0;
    background-color: rgb(30, 30, 30);
    animation: info-contact-anime 0.5s ease 1.6s 1 normal forwards;
}

.info-contact-title{
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 25px;
    margin-right: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid #4E9F3D;
    text-align: left;
    width: 85%;
    font-weight: 600;
    animation:  info-contact-anime 0.5s ease 1.4s 1 normal forwards;
    opacity: 0;
}
.social-img-container-contact{
    margin-right: 55px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    animation:  info-contact-anime 0.5s ease 1.4s 1 normal forwards;
    opacity: 0;
}

.social-img-contact{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-img-contact p{
    font-size: 13px;
    color: white;
    margin-top: 5px;
}

.social-img-contact:hover{
    border-bottom: 2px solid #4E9F3D;
    background-color: rgba(28, 28, 28, 0.626) ;
}

.copy-btn{
    background-color: rgb(30, 30, 30);
    border: 0;
    color: white;
    cursor: pointer;
    margin-left: auto;
}
.copied{
    transition: .5s ease;
    opacity: 0;
    animation:  copied-animation 0.5s ease 0s 1 normal forwards;
}

.tick-green{
    color: #58f6a4;
}
.contact-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
}

@keyframes info-contact-anime {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes copied-animation {
	0% {
		opacity: 0;
        scale: 0;
		rotate: 50deg;
	}

	100% {
		opacity: 1;  
        scale: 1;
		rotate: 0deg;
	}
}