mux-player{
    --seek-backward-button: none;
    --seek-forward-button: none;
    --controls-backdrop-color: rgb(0 0 0 / 60%);
    width: 600px;
}

@media (min-width: 1800px){
    
    
    mux-player{
        --seek-backward-button: none;
        --seek-forward-button: none;
        --controls-backdrop-color: rgb(0 0 0 / 60%);
        width: 720px;
    }
}
@media (max-width: 1799px){
    mux-player{
        --seek-backward-button: none;
        --seek-forward-button: none;
        --controls-backdrop-color: rgb(0 0 0 / 60%);
        width: 360px;
    }
}

@media (max-width: 1150px){
    mux-player{
        --seek-backward-button: none;
        --seek-forward-button: none;
        --controls-backdrop-color: rgb(0 0 0 / 60%);
        width: fit-content;
    } 
}