.main-interface-container{
    border: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
}

.interface-window{
width: 90%;
height: calc(100vh - 10vh);
border-radius: 10px;
border: 2px solid #4E9F3D;
overflow-y: auto;
position: relative;
}
.fetching{
width: 90%;
height: 90%;
border-radius: 10px;
border: 2px solid #4E9F3D;
display: flex;
align-items: center;
justify-content: center;
}
.btn-toggle-view{
display: none;
}
@media (max-width: 1150px){
    .interface-window{
        width: 90%;
        height: 90%;
        border-radius: 10px;
        border: 2px solid #4E9F3D;
        overflow-y: hidden;
        position: relative;
        }

        .btn-toggle-view-off{
           width: 5px;
           height: 5px;
           border-radius: 50%;
           background-color: white;
           display: flex;
           margin-right: 15px;
           outline-offset: 2px;
           transition: .5s ease;
        }
        .btn-toggle-view{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #4E9F3D;
            display: flex;
            outline: 1px solid #4E9F3D;
            outline-offset: 2px;
            margin-right: 15px;
            transition: .5s ease;
         }
        .section-navigation{
            display: flex;
            position: absolute;
            flex-direction: row;
            top: 50px;
            align-items: center;
            justify-content: center;
            width: 80vw;
            height: 10px;
        }
        .go-back{
           margin-right: 10px;
           margin-left: 30px;
           rotate: 180deg;
           color: #4E9F3D;
           animation: button-animation 1.5s ease 0s infinite normal forwards;
        }
        .go-foward{
           color: #4E9F3D;
           animation: button-animation 1.5s ease 0s infinite normal forwards;
           
        }
        .on{
           opacity: 1;
           padding-top: 6px;
        }
        .off{
           opacity: 0;
           padding-top: 6px;
        }
        @keyframes button-animation {
            0% {
              scale: .8;
        
            }
        
            50% {
             scale: 1;
        
            }
            100% {
                scale: .8;
          
              }
        }
        
        
}
