.main-interface-container{
    border: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
}

.interface-window{
width: 90%;
height: calc(100vh - 10vh);
border-radius: 10px;
border: 2px solid #4E9F3D;
overflow-y: auto;
position: relative;
}
.fetching{
width: 90%;
height: 90%;
border-radius: 10px;
border: 2px solid #4E9F3D;
display: flex;
align-items: center;
justify-content: center;
}

@media (max-width: 1150px){
    .interface-window{
        width: 90%;
        height: 90%;
        border-radius: 10px;
        border: 2px solid #4E9F3D;
        overflow-y: hidden;
        position: relative;
        }

        .btn-toggle-view{
            position: absolute;
            top: 20px;
            left: 40px;
            width: 50px;
        }
}
